@import url('https://fonts.googleapis.com/css?family=K2D:100');

body {
    font-family: 'K2D', sans-serif;
}


.top {
    background-image: url('../assets/sun.jpg');
    background-size: cover;
    height: 60vh;
    background-position: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.ui.menu {
    /* margin: 0; */
}

.middle * {
    text-align: center;
    margin: 0;
}