@import url('https://fonts.googleapis.com/css?family=K2D:100');

body {
    font-family: 'K2D', sans-serif;
}

.main.menu {
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 4px #999;
}
.top {
    background-image: url('../assets/forest.png');
    background-size: cover;
    height: 60vh;
    background-position: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.ui.menu {
    margin: 0;
    z-index: 3;
}

.middle {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2.3rem;
    border-radius: 3.5px;
}


.middle h1, h2 {
    text-align: center;
    margin: 0;
}

.no-border {
    border: none !important;
}

/* selector */

::selection {
    color: #FFF;
    background-color: #000;
}

.padding {
    padding-top: 100px;
}

.max-link {
    color: green;
} 