{% include head.html %}

<body>
    <div class="ui borderless main menu">
        <div class="ui text container">
            <div class="header item">
                <a href="/">
                    Home
                </a>
            </div>

            {% for page in site.pages %}
            {% if page.title %}
            <a href="{{page.url}}" class="item">{{page.title}}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <header class="top">
        <div class="middle">
            <h1>{{ site.title }}</h1>
            <h2><em>It's difficult to understand...</em></h2>
        </div>
    </header>
    <div class="ui four column stackable grid margin-bottom">
        {{ content }}

        {% for post in site.posts %}
        <section class="ui segment no-border">
            <article class="ui card raised column">
                <a href="{{post.url}}" class="image">
                    <img src="{{post.image}}" alt="">
                </a>
                <div class="content">
                    <a href="{{post.url}}" class="header">{{post.title}}</a>
                    <span>{{post.author}}</span>
                    <div class="meta">
                        <p>{{post.excerpt}}</p>
                        <a href="{{post.url}}" class="ui black basic button">Read</a>                       
                    </div>
                </div>
            </article>
        </section>
        {% endfor %}




    </div>

    {% include bottom.html %}

</body>

</html>